*{
  margin: 0 auto;
  box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 1400px;
}

header{
  /* position: fixed; */
  height: 80px;
  width: 100%;
  background-color: lightgray;
  z-index: 100;
  padding: 0 20px;
}

nav{
  max-width: 1100px ;
  width: 100%;
  margin: 0 auto;
}

.nav_logo{
  font-size: 25px;
}

.nav, .nav_item{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_item{
  column-gap: 25px;
  font-size: 20px;
}

.nav_logo,
.nav_link,
.button{
  color: #000;
  text-decoration: none;

}

.nav_link:hover{
  color: lightcoral;
}

.homepage{
  /* height: 1250px; */
margin-top: 24px;
}
.userInvoices .table{
  max-width: 1100px;
  width: 100vw;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.container{
  display: flex;
  
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  padding:  24px 0px  ;
  margin-top: 10px;
}

.userProfile{
  margin-top: 24px;
  max-width: 1100px ;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;

}
.userInfo{
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background-color: burlywood;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 1px 2px 8px black;
}
.info-item{
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 3px;
  /* background-color: lightgray; */
  border-radius: 5px;
  padding: 2px 8px;
}
.info-item p{
  color: black;
  font-weight: 500;

  text-shadow: 1px 1px 1px white;

  /* border-bottom: 1px solid black; */
}
.info-item span{
  font-weight: bold;
}
.userInvoices {
 
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 16px; /* Increased gap for better spacing between items */

}
.invoice-container{
  max-width: 650px;
  margin-top: 12px;
  padding: 12px;
  
}
.invoice-item {
  width: 100%; /* Ensure full width of the container */
  height: 700px;
  border: 3px solid black;
  border-radius: 8px; /* Add rounded corners */
  padding: 0px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  text-align: left; /* Align text to the left */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}


/* .invoice-item:hover{
  background-color: antiquewhite;
} */
.invoice-item .header{
height: 10%;
border-radius:   0.25px 40px ;
background-color: burlywood;
text-align: center;
padding: 8px ;
margin-top: 8px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.invoice-item span{
  background-color: white;
  border-radius: 5px;
  padding: 0 4px;
  font-weight: bold;
}

.invoice-item h3 {
  margin-bottom: 8px; /* Add space below the invoice number */
}



.invoice-item  .btn{
  width: 30%;
  padding: 8px;
  border-radius: 5px;
  background-color: burlywood;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 24px;
  
  cursor: pointer;
}
.invoice-item .btn:hover{
  background-color:transparent;


}

.userInvoices td{
  font-weight: bold;
}

.userInvoices .moreBtn{
  background-color: burlywood;
  padding: 2px 8px ;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}
.userInvoices .moreBtn:hover{
  background-color: transparent;
}

.invoice-details{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.invoice-details p{
  border: 3px solid black;
  padding: 12px;
  border-radius: 5px;
  margin: 4px 0; /* Add space above and below each paragraph */

  background-color: burlywood;
}