*{
  margin: 0 auto;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header{
  /* position: fixed; */
  height: 80px;
  width: 100%;
  background-color: lightgray;
  z-index: 100;
  padding: 0 20px;
}

nav{
  max-width: 1100px ;
  width: 100%;
  margin: 0 auto;
}

.nav_logo{
  font-size: 25px;
}

.nav, .nav_item{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_item{
  column-gap: 25px;
  font-size: 20px;
}

.nav_logo,
.nav_link,
.button{
  color: #000;
  text-decoration: none;

}

.nav_link:hover{
  color: lightcoral;
}

.homepage{
  /* height: 1250px; */
margin-top: 24px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  padding:  24px 0px  ;
  margin-top: 10px;
}